body{
    background-color: rgb(236, 232, 206);
    color: black;
}

#ia{
    background-color: rgb(14, 15, 15);
    width: 101%;
    height: 650px;
    margin: -1%;
    margin-left: -1%;
    box-shadow: 0px 15px 20px rgba(5, 54, 5, 0.726);
}

#box{ /*nav bar fixada no topo da pagina*/
    background-image: linear-gradient(to right, black, rgb(13, 49, 13));
    position: fixed;
    height: 15%;
    width: 100%;
    top: 0px;
}

#container{ /*imagem de fundo no menu*/
    height: 600px;
    background-image: url(../copiateste/img/fundomenu.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#relogio{
    position: relative;
    margin-left: 90%;
    margin-top: 1%;
    font-size: larger; 
}
#logo{
    width: 5%;
    height: 35%;
    margin-top: -40px;
}
#casa{
    width: 5%;
    height: 30%;
    margin-top: -45px;
}

#tema{
    padding-top: 15%;
    text-align: center;
    color: white;
    top: -800px;
}

/*Inicio do código para efeito dos botões de navegação*/
#oqueeIA{
    padding-top: 15%;
    border-radius: 45px;
}
#oqueeIA:hover {
    transform: translateY(5px); /* Move o botão 5 pixels para baixo no eixo Y no hover */
}

#tipos{
    padding-top: 15%;
    border-radius: 45px;
}
#tipos:hover {
    transform: translateY(5px); /* Move o botão 5 pixels para baixo no eixo Y no hover */
}
#apli{
    padding-top: 15%;
    border-radius: 45px;
}
#apli:hover{
    transform: translateY(5px); /* Move o botão 5 pixels para baixo no eixo Y no hover */
}
#plataforma{
    padding-top: 15%;
    border-radius: 45px;
}
#plataforma:hover{
    transform: translateY(5px); /* Move o botão 5 pixels para baixo no eixo Y no hover */
}
/*fim do código para efeito dos botões de navegação*/

.bord{
    border: 2px rgba(160, 41, 41, 0.623) solid;
    width: 50%;
}

.clearfix{
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.clearfix img{
    box-shadow: 0px 5px 18px rgb(34, 33, 34);
    border-radius: 5px;
}

.top{
    margin-top: 5%;
}

/* inicio do código para efeito para aumentar e diminuir o tamanho das imagens do corpo*/
#fundo3dIA {
transition: transform 0.3s;
max-width: 100%;
max-height: 100%;
}

#fundo3dIA.zoomed {
transform: scale(1.2); /* Aumenta o zoom para 120% (ou o valor desejado) */
}

#desenhoIA{
transition: transform 0.3s;
max-width: 100%;
max-height: 100%;
}

#desenhoIA.zoomed {
transform: scale(1.2);
}

#abeinfobrasil{
transition: transform 0.3s;
max-width: 100%;
max-height: 100%;
}

#abeinfobrasil.zoomed{
transform: scale(1.2);
}
/* fim do código para efeito para aumentar e diminuir o tamanho das imagens do corpo*/

footer {
    background-color: #171717;
    width: 100%
}

/*.footer-link {
    text-decoration: ;
}*/

#footer_content {
    background-color: #171717;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.rem;
    color: #a8a29e;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color:#f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#linkedin {
    background-color: #024e0f;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #a8a29e;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #024e0f;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color:#a8a29e;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #0e0c0c;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color:#024e0f;
    border: none;
    color: #f5f5f5;
    padding: 0px 1.25rem;
    font-size: 1.123rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #0e0c0c;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    color:#a8a29e;
}

#footer_references {
    color: #a8a29e;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    #footer_references {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_references {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
