body{
    background-color: rgb(230, 226, 194);
    color: black;
}

#ia{
    background-color: rgb(14, 15, 15);
    width: 101%;
    height: 650px;
    margin: -1%;
    margin-left: -1%;
    box-shadow: 0px 15px 20px rgba(5, 54, 5, 0.726);
}

#lista{
    margin-top: 50px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clearfix{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.clearfix img{
    box-shadow: 0px 5px 18px rgb(34, 33, 34);
    border-radius: 5px;
}

.top{
    margin-top: 5%;
}