body{
    background-color: rgb(230, 226, 194);
    color: black;
}

#ia{
    background-color: rgb(14, 15, 15);
    width: 101%;
    height: 650px;
    margin: -1%;
    margin-left: -1%;
    box-shadow: 0px 15px 20px rgba(5, 54, 5, 0.726);
}

#box{
    background-image: linear-gradient(to right, black, rgb(13, 49, 13));
    position: fixed;
    height: 10%;
    width: 100%;
    top: 0px;
}

#tema{
    position: relative;
    text-align: center;
    color: white;
    top: -800px;
}

#oqueeIA{
    position: relative;
    left: 30px;
    top: -450px;
    border-radius: 45px;
}

#tipos{
    position: relative;
    left: 80px;
    top: -450px;
    border-radius: 45px;
}

#apli{
    position: relative;
    left: 130px;
    top: -450px;
    border-radius: 45px;
}

#plataforma{
    position: relative;
    left: 180px;
    top: -450px;
    border-radius: 45px;
}

.bord{
    border: 2px rgba(160, 41, 41, 0.623) solid;
    width: 50%;
}

.clearfix{
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.clearfix img{
    box-shadow: 0px 5px 18px rgb(34, 33, 34);
    border-radius: 5px;
}

.top{
    margin-top: 5%;
}